<! -- game_terminal.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Restoria 0.0.1</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.4/purify.min.js"></script>
    <script>
      const socket = io(); // no URL needed for now; defaults to host that serves the page
    </script>
  </head>

  <body>
    <nav class="nav">
      <h1>Restoria 0.0.1</h1>
      <form action="/logout" method="post">
        <button id="logout" type="submit">Quit</button>
      </form>
    </nav>

    <!-- Messages and side forms -->
    <div id="main">
      <div id="messagesContainer">
        <ul id="messages"></ul>
      </div>
      <%- include('create_exit_form'); %> 
      <%- include('create_item_blueprint_form'); %> 
      <%- include('create_mob_blueprint_form'); %> 
      <%- include('create_room_form'); %> 
      <%- include('create_user_form'); %> 
      <%- include('create_zone_form'); %>
      <%- include('edit_item_blueprint_form'); %> 
      <%- include('edit_mob_blueprint_form'); %> 
      <%- include('edit_room_form'); %>
      <%- include('edit_user_form'); %> 
      <%- include('edit_zone_form'); %> 
      <%- include('erase_item_blueprint_form'); %> 
      <%- include('erase_mob_blueprint_form'); %> 
      <%- include('erase_room_form'); %>
      <%- include('goto_form'); %>
      <%- include('suggest_form'); %>
      <%- include('suggestions_form'); %>
    </div>

    <!-- User input command form -->
    <%- include('command_form'); %>

    <script>
      const messagesContainer = document.getElementById("messagesContainer");
      const messages = document.getElementById("messages");
      let activeForm = editUserForm;

      //socket event listeners
      socket.on("invalid", (rejectionString) => {
        appendMessageToTerminal({
          type: "rejection",
          content: "Server says invalid command.",
        });
      });

      socket.on("redirectToLogin", () => {
        socket.disconnect();
        window.location.href = "/login";
      });

      socket.on("message", (message) => {
        appendMessageToTerminal(message);
      });

      window.addEventListener("beforeunload", function (event) {
        socket.disconnect();
      });

      document
        .querySelector("#logout")
        .addEventListener("click", function (event) {
          socket.disconnect();
        });

      function generateStringSelectOptions(stringArray, select) {
        select.options.length = 0;
        for (let i = 0; i <= stringArray.length - 1; i++) {
          const option = document.createElement("option");
          // string array may be Array<{_id: string, name: string}> or Array<string>
          option.value = stringArray[i]._id
            ? stringArray[i]._id
            : stringArray[i];
          option.textContent = stringArray[i].name
            ? stringArray[i].name
            : stringArray[i];
          select.appendChild(option);
        }
      }

      function appendMessageToTerminal(message) {
        const item = document.createElement("li");
        item.classList.add("message-item"); // Add message-item class
        item.textContent = message.content;
        item.classList.add(message.type);
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      }

      function appendSafeMessageToTerminal(message) {
        const item = document.createElement("li");
        item.classList.add("message-item"); // Add message-item class
        item.innerHTML = message.content;
        item.classList.add(message.type);
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      }

      function loadNodesToUlElement(ulElement, nodes, blueprints) {
        for (let node of nodes) {
          addNodeToUlElement(ulElement, node, nodes, blueprints);
        }
      }

      function addNodeToUlElement(ulElement, node, nodes, blueprints) {
        // Create a new <li> element
        const liElement = document.createElement("li");
        liElement.className = "node";
        nodeName = blueprints.find(
          (blueprint) => blueprint._id === node.loadsBlueprintId
        ).name;

        liElement.innerHTML = `<div class="nodeInfo"><span class="nodeName">${nodeName}</span><span class="nodeId">id: ${node.loadsBlueprintId}</span></div>`;

        // Create a delete button
        const deleteButton = document.createElement("button");
        deleteButton.textContent = "remove";
        deleteButton.className = "deleteNode";
        deleteButton.type = "button";
        deleteButton.onclick = function () {
          ulElement.removeChild(liElement);
          deleteNodeById(node._id, nodes, ulElement, blueprints);
        };

        // Append the delete button to the <li>
        liElement.appendChild(deleteButton);

        // Append the <li> to the <ul>
        ulElement.appendChild(liElement);
      }

      function deleteNodeById(id, nodes, ulElement, blueprints) {
        let index = nodes.findIndex((node) => node._id === id);
        if (index !== -1) {
          nodes.splice(index, 1);
          clearUl(ulElement);
          loadNodesToUlElement(ulElement, nodes, blueprints);
        }
      }

      function clearUl(ul) {
        while (ul.firstChild) {
          ul.removeChild(ul.firstChild);
        }
      }

      function showHelpArray(messageArray) {
        messageArray.forEach((message) => {
          appendSafeMessageToTerminal({ type: "help", content: message });
        });
      }
    </script>
  </body>
</html>
